<md-dialog aria-label="Group members">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Users</h2>
            <span flex></span>
            <md-button aria-label="Close" ng-click="cancel()" class="md-fab md-mini md-accent">
                    <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-list>
            <md-list-item class="md-1-line" ng-repeat="u in users">
                <div class="md-list-item-text">
                    <p>{{u}}</p>
                </div>
            </md-list-item>          
    </md-list>
</md-dialog>